html{
  scroll-behavior: smooth;
  width: 1024px;
  margin: 0 auto;
}
html,body {
  overflow-x:hidden;
}
.color-a {
  color: #ff2e00;
}
.color-a a{
  color: #000;
  font-size: 1.1rem;
  margin: 5px 0;
}
.color-a a:hover{
  color: #0c2e63;
}
.head-wrap ,main{
  padding-top: 20px;
}
header {
	background: #413122;
  padding:10px;
  border-radius: 20px;
}
.img-logo ,.info{
	padding: 10px;
}
.img-logo img{
	width: 100px;
	height: 100px;
	transition-property: width,height;
	transition-duration: 0.3s linear;
}
.info {
	color: #fffdf4;
	margin: 10px;
	font-family: 'Merriweather', serif;
}

/* ak code */
.update-news .row {
  margin:0;
}
.latest {
  padding: 10px 0; 
  font-size: 1rem;
}
.bg-latest {
  background-color: #0c2e63;
}
.latest{
  color: #fff;
  font-weight: 600;
}
.bg-uplink{
  background: #F4CC08;
}
.update-link {
  padding: 10px 0;
  color: #000;
}
 .sidenav-wrap {
  background-color: #31353d;
  border-radius: 5px 4px 5px 2px;
  padding-top: 4px;
 }
 .sidenav-wrap nav ul#main-nav li,
 ul#submenu li a {
  position: relative;
}
 .sidenav-wrap nav ul#main-nav li a {
  display: block;
  padding:10px 0 10px 25px;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.sidenav-wrap nav ul#main-nav li a:hover {
  background-color: #3a3f48;
  color: #F4CC08;
}
.sidenav-wrap nav ul#main-nav li ul#submenu {
  position: absolute;
  z-index: 600;
  top: 0;
  left: 100%;
  width: 250px;
  background-color: #0b192f; 
  display: none;
}
.sidenav-wrap nav ul#main-nav li:hover > ul#submenu {
  display: block;
}
.sidenav-wrap nav ul#submenu li > ul#submenu-inner{
  position: absolute;
  z-index: 700;
  top: 0;
  left: 100%;
  width: 250px;
  background-color: #0b192f; 
  display: none;
}
.sidenav-wrap nav ul#submenu li:hover > ul#submenu-inner{
  display: block;
}
.aboutus {
  padding:10px 0;
  border: 1px solid #e8c7c7;
}
.about .head-title {
  padding:0.5rem 2rem;
}
.head-title h4 {
}
.head-title .hr{
  width: 120px;
  height: 3px;
  background: linear-gradient(to right,#ff8a00,#da1b60);
  margin-bottom: 10px;
}
.notice-wrap {
  margin: 35px 0;
}
.notice-wrap .notice-title {
  width: 150px;
  background-color: #F4CC08;
  padding:10px;
  color: #000;
  border-radius: 5px 5px 0 0;
}
.notice-wrap .notice-link{
  background-color: #887669;
  border-radius: 0 5px 5px 5px;
}
.notice-board #marquee{
  height: 250px;
  margin: 10px 0;
}
.notice-board #marquee ul {
  padding: 20px;
}
.notice-board #marquee ul li {
  color: #F4CC08;
}

/* close ak code */


hr {
		height: 2px;
		width: 50%;
    margin: 0.4rem auto;
		background: -webkit-linear-gradient(to bottom,#ff8a00,#da1b60);
		background: linear-gradient(to bottom,#ff8a00,#da1b60);
}
hr.full {
		height: 2px;
		width: 100%;
		background: -webkit-linear-gradient(to bottom,#ff8a00,#da1b60);
		background: linear-gradient(to bottom,#ff8a00,#da1b60);
}
.info span{
	font-size: 1.75rem;
	word-spacing: 2px;
  letter-spacing: 1px;
}
.info p {
	font-size: 1.2rem;
  letter-spacing: 1.3px;
}
.search-box{
	margin:1rem;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.slider-wrap {
  padding: 15px 0;
}
.slider-wrap .carousel-inner {
  border-radius: 10px;
}
.mh-250 {
	max-height: 250px;
}
.h-220 {
  height: 220px;
}
.img-wrapper {
  width: 100px;
  margin: 10px auto;
  padding:4px;
  border:1px solid #eee;
}
.img-wrapper img{
  width: 100%;
} 

.about article{
	padding: 0 2rem;
	font-weight: 500;
}
.about article span {
	color: #4caf50;
}
.about-title {
	padding: 10px 0;
	font-size: 1.1rem;
  border: 1px solid #e8c7c7;
}

.update-link a,.notifi ul li a{
	color: #000;
  font-weight: bold;
  letter-spacing: 1px;
}
/*------open multi-img-slider-------*/
.gallery-area {
  background: url("../img/sliderbgs.png") repeat;
  padding: 2rem 0;
  color: #fff;
}
/*Carousel Gallery*/
.carousel-gallery {
  margin: 50px 0;
  padding: 0 30px;
}
.carousel-gallery .swiper-slide a {
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.2);
}
.carousel-gallery .swiper-slide a:hover .image .overlay {
  opacity: 1;
}
.carousel-gallery .swiper-slide a .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.carousel-gallery .swiper-slide a .image .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.8);
  text-align: center;
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.carousel-gallery .swiper-slide a .image .overlay em {
  color: #fff;
  font-size: 26px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
}
.carousel-gallery .swiper-pagination {
  position: relative;
  bottom: auto;
  text-align: center;
  margin-top: 25px;
}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet:hover {
  opacity: .7;
}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #d63031;
  transform: scale(1.1, 1.1);
}

.youtube-area iframe{
  width: 560px;
  height: 315px;
}
/*------close multi-img-slider-------*/

.map-wrap {
  background-color: #d2e2cc;
}
.map-area{
	padding:65px 10px 30px 10px;
}
.map-area iframe {
	width: 100%;
	height: 250px;
}
.btn-floating{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    position: relative;
    z-index: 1;
    line-height: 2.8;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin: 10px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    width: 47px;
    height: 47px;
    background-color: #007bff;
}
.btn-floating .svg-inline--fa{
  color: #fff;
}
	.feed {
		padding: 2.5rem 1rem;
	}
	.form-bg{
		background:linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
	}
	.feed-wrap,
	.info {
		padding: 1rem;
	}
	.feed-wrap {
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
		margin: 0 auto;
	}
	.in-box {
		background-color: #31373c;
		margin: 10px;
	}
	.in-box input,.in-box textarea,.feed-wrap button{
		border:0;
		outline:0;
		color: #fff;
		background: transparent;
		margin: 10px;
		width: 100%;
	}
	.in-box input::placeholder,.in-box textarea::placeholder {
		color: #fff;
		font-weight: 400;
		line-height: 1.5;
	}
	.in-box textarea {
		resize: none;
		height: 180px;
	}
	.feed-wrap button {
		width: 60%;
		background: #d0510d;
	    padding: 10px;
	    font-weight: 600;
	    cursor: pointer;
	    color: #fff;
	}
	.feed-wrap button:hover{
		border-radius: 10px;
		box-shadow: 0 0.5em 0.5em -0.4em rgba(0,0,0,0.6);
		transform: translateY(-0.2em);
		transition: 0.3s linear;
	}
.footer-link {
	background-color: #222;
	color: white;
}
.ins-detail,.footer-link  {
	padding: 20px 10px;
}
.links span {
	font-size: 1.2rem;
	font-weight: 600;
}
.links li {
	color: #ff2e00;
}
.links li a:hover{
	color: #bfacac;
}
.ins-detail a{
	color: #ffc107;
	padding: 5px 0; 
}
.update-link a{
  font-size: 0.9rem;
}
footer {
	padding: 5px 0;
	color: #fff;
	background-color: #333333;
}
footer span{
	color: #ffc107;
}

/* -------------social contact----------------*/
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.social-contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
.social-contact h2 i {
  color: #dd4b39;
}
.social-contact ul.list-social {
  margin-bottom: 0;
}
.social-contact ul.list-social li a {
  display: block;
  height: 50px;
  width: 50px;
  line-height: 45px;
  font-size: 20px;
  border-radius: 100%;
  color: white;
}
.social-contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}
.social-contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}
.social-contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}
.social-contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}
.social-contact ul.list-social li.social-insta a {
  background-color: #dd4b39;
}
.social-contact ul.list-social li.social-insta a:hover {
  background-color: #d73925;
}

#scrollTop {
  position: fixed;
  right: 5%;
  bottom: 45px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e62739;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 3;
}
/*------------close front page ------*/
/*-------------------open message-pages----------*/
.msg-wrapper {
  padding: 2rem 0.5rem;
  background-color: #20345d;
}
.msg-container {
  width: 80%;
  margin: 20% auto;
}
.msg-box {
  border: 1px solid #dfe2e5;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #fff;
}
.fadeBounce {
  opacity: 0;
  animation: fadeBounce 1s forwards;
  -webkit-animation: fadeBounce 1s forwards;
}
.msg-box,
.msg-img img {
  border-radius: 5px;
}
.msg-img {
  width: 250px;
  height: auto;
  margin: 0 auto;
  margin-top: -120px;
  overflow: hidden;
  transition:width 0.3s ease-in-out;
  animation-delay: 0.5s;
}
.fadeBounceDelay {
  opacity: 0;
  animation: fadeBounce 1s forwards;
  -webkit-animation: fadeBounce 1s forwards;
}
.msg-img:hover  img{
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}
.msg-details {
  width: 85%;
}
.msg-img .caption {
  padding: 0.5rem 0;
}
.msg-img .caption div {
  font-size: 1.2rem;
}
.msg-img .caption div,
.msg-img .caption p {
  font-weight: 500;
}
.msg-details {
  margin: 10px auto;
}
/*-------------------close message-pages----------*/
/*-------------------opne faculty----------*/
.dept-pd {
  padding: 1rem 0.5rem;
}
/*-------------------close faculty----------*/



@media all and (max-width: 992px) {
  .container {
    max-width: 100%;
  }
  .message-wrap .message-box {
    width: 90%;
  }
}
@media all and (max-width: 768px) {
	.h-500 {
    height: 100%;
  }
  .h-400{
    height: 300px;
}
  .latest,
  .msg-img .caption div{
    font-size: 1rem;
  }
  .wrap-box {
    padding: 2rem 1rem;
  }
  .message-wrap .message-box {
    width: 95%;
    margin:40px auto;
  }
  .msg-img {
    margin-top: -80px;
  }
}
@media all and (max-width: 567px) {
	h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.7rem;
  }
  h3{
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6{
    font-size: 1rem;
  }
	.notice-board {
		margin-top: 20px;
	}
 .about article {
    padding: 2rem 1rem;
  }
  .about-title, .notice-title {
    font-size: 1.2rem;
  }

  .youtube-area iframe{
   width: 85%;
   height: auto;
}
  footer {
    font-size: 0.7rem;
  }
  .h-400{
    height: 200px;
  }
  .msg-img {
    margin-top: -60px;
  }
}
@media all and (max-width: 400px) {
	.m-4 {
    margin: 1.5rem auto !important;
  }
	p,
  .table th{
		font-size: 0.9rem;
	}
  .table td {
    font-size: 0.8rem;
  }
  .table th,
  .table td {
    padding: 0.5rem 0.3rem;
  }
  .msg-container {
    width: 100%;
  }
  .msg-img {
    width: 80%;
    margin-top: -40px;
  }
  .msg-details,
  .youtube-area iframe {
    width: 90%;
  }
}


.animatable{
  visibility: hidden;
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}
.animated {
  opacity: 0;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(.5);
  }
  50% {
    -webkit-transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bounceIn {
  0% {
    -moz-transform: scale(.5);
  }

  50% {
    -moz-transform: scale(1.05);
  }

  70% {
    -moz-transform: scale(.9);
  }

  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

@-o-keyframes bounceIn {
  0% {
    -o-transform: scale(.5);
  }

  50% {
    -o-transform: scale(1.05);
  }

  70% {
    -o-transform: scale(.9);
  }

  100% {
    opacity: 1;
    -o-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(.5);
  }

  50% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animated.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes fadeBounce {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  40% {
    transform: translateY(0);
  }

  55% {
    transform: translateY(-6px);
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  85% {
    transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes fadeBounce {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  40% {
    transform: translateY(0);
  }

  55% {
    transform: translateY(-6px);
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  85% {
    transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes fadeBounce {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  40% {
    transform: translateY(0);
  }

  55% {
    transform: translateY(-6px);
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  85% {
    transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeBounce {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  40% {
    transform: translateY(0);
  }

  55% {
    transform: translateY(-6px);
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  85% {
    transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}